.container {
  margin: 15px;
  padding: 15px;
  background-color: rgba(64,64,64,.1);
  border: 1px solid rgba(128,128,128,.7);
}

.page-header {
  padding-left: 15px;
}

.row {
  margin-bottom: 0px;
}

[class*="col-lg-"] {
  padding-top: 0px;
  padding-bottom: 0px;
}
.unavailable {
  color: #999999;
  font-style:italic;
}
