.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-lg-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(141,198,62,.15);
  border: 1px solid rgba(95,135,39,.2);
}
.unavailable {
  color: #999999;
  font-style:italic;
}
