<div class="well well-sm">
  <h3>{{title}}</h3>
  <table class="table">
    {% for prop in proplist %}
      {% if prop.key == "BR" %}
  </table>
  <table class="table">
      {% else %}
        <tr><th>{{ prop.key }}</th>
        <td>{{ prop.val }}</td></tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

{% for histogram_block in histData %}
  {% for histType, hists in histogram_block.items %}
  <div class="panel histogram">
    <div class="panel-title"><div class="panel-heading">{{ histType.0|title }}</div></div>
    <!-- <div><input type="button" class="btn btn-primary" onclick="toggleChart()" value="Trends" /></div> -->
    <div class="panel-body">
      {% for hist in hists %}
        <div id="d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}"></div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
{% endfor %}

{% for timestream_block in timestreamData %}
  {% for timestreamType, times in timestream_block.items %}
    <div class="panel timestream">
      <div class="panel-title"><div class="panel-heading">{{ timestreamType.0 }}</div></div>
      <!-- <div><input type="button" class="btn btn-primary" onclick="toggleChart()" value="Histograms" /></div> -->
      {% for time in times %}
        <div id="d3divt1{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}" class="center"></div>
      {% endfor %}
    </div>
  {% endfor %}
{% endfor %}

<script type="text/javascript">
  // Timestreams start hidden
  //$('.timestream').toggle();
  
  function toggleChart() {
    $('.histogram').toggle();
    $('.timestream').toggle();
  }
  
  {% for histogram_block in histData %}
    {% for histType, hists in histogram_block.items %}
      {% for hist in hists %}
        var chart_data = {{ hist.data | safe }};
         {% if hist.marker != None %}
           d3hist("#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}", "{{ hist.label }}",{{hist.marker}});
         {% else %}
           d3hist("#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}", "{{ hist.label }}");
         {% endif %}
           $('#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}').popover(
             {content:"{{ hist.tooltip|safe }}", trigger:"hover", placement:"top"});
      {% endfor %}
    {% endfor %}
  {% endfor %}
  
  {% for timestream_block in timestreamData %}
    {% for timestreamType, times in timestream_block.items %}
      {% for time in times %}
        var chart_data = {{ time.data | safe }};
          {% if time.marker != None %}
            d3timeline("#d3divt1{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ time.title}}", {{time.marker}});
          {% else %}
            d3timeline("#d3divt1{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ time.title}}");
          {% endif %}
        $('#d3div1{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}').popover(
          {content:"{{ time.tooltip|safe }}", trigger:"hover", placement:"top"});
      {% endfor %}
    {% endfor %}
  {% endfor %}
</script>        
