<html lang="en">
<head>
    <title>{% block title %}Cook County Land Bank - Analytics Tool{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/landbank_data/js/bootstrap.js"></script>
    <link href="/static/landbank_data/css/bootstrap.css" rel="stylesheet">
    {% block head%}{% endblock %}

</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="/" class="navbar-brand">CCLBA</a>
        {% block topnav %}
        {% endblock %}
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
