<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
var bounds = new google.maps.LatLngBounds();

function buildMarker(map, latitude, longitude, name, color) {
  var latlng = new google.maps.LatLng(latitude, longitude);
  var marker = new google.maps.Marker({
    position: latlng,
    map: map,
    title: name,
  });
  marker.setIcon('http://maps.google.com/mapfiles/ms/icons/' + color + '-dot.png');
  bounds.extend(latlng);
  return marker;
}

function mapInitialize() {
  var myOptions = {
    zoom: 10,
    center: new google.maps.LatLng(41.85,-87.65),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"),
    myOptions);

  {% for object in object_list %}
  {% if object.geom %}
  var polygon{{ object.pk }}Coords = [
    {% with object.geom.0.0 as the_polygon %}
      {% for point in the_polygon %}
        new google.maps.LatLng({{ point.1 }}, {{ point.0 }}),
      {% endfor %}
    {% endwith %}
  ];

  var the_polygon{{ object.pk }} = new google.maps.Polygon({
    paths: polygon{{ object.pk }}Coords,
    strokeColor: "#FF0000",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#FF0000",
    fillOpacity: 0.35
  });

  for (i=0; i<polygon{{ object.pk }}Coords.length; i++) {
    bounds.extend(polygon{{ object.pk }}Coords[i]);
  }

  the_polygon{{ object.pk }}.setMap(map);
  {% endif %}
  {% endfor %}

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  map.fitBounds(bounds);
}

function initialize() {
  var mapOptions = {
    zoom: 11,
    center: new google.maps.LatLng(41.850, -87.650),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

google.maps.event.addDomListener(window, 'load', mapInitialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
