{% extends "landbank_data/base.html" %} 

{% block title %}CCLBA Analytics Tool - {{ title }}{% endblock %}

{% block head %}
<link href="/static/landbank_data/css/bootstrap.css" rel="stylesheet">
<link href="/static/landbank_data/css/d3plots.css" rel="stylesheet">
<link href="/static/landbank_data/css/map.css" rel="stylesheet">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/landbank_data/js/d3plots.js"></script>
{% include "aggregate_map_head.html" %}
<link href="/static/landbank_data/css/aggregate_geom.css" rel="stylesheet">
{% endblock %}

{% block content %}
 <div class="wax-tooltip">
   <h3> {{ title }} <br /><small> {{ type }} </small> </h3> 
 </div>

 {% include "aggregate_map_body.html" %}

 <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3> Basic properties </h3>
    </div>
    <div class="col-lg-12">
      {% include "aggregate_properties.html" %}
    </div>
  </div>
 </div>
 <div class="container">
  {% for histogram_block in histData %}
   {% for histType, hists in histogram_block.items %}
    <div class="row">
      <div class="col-lg-12">
        <h3> {{ histType.0 }} <small> {{ histType.1 }} </small> </h3> 
      </div>
    </div>
    {% for hist in hists %}
      <div id="d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}" 
        class="col-lg-4"></div>
    {% endfor %}
   {% endfor %}
  {% endfor %}
 </div>

<script type="text/javascript">
{% for histogram_block in histData %}
 {% for histType, hists in histogram_block.items %}
  {% for hist in hists %}
    var chart_data = {{ hist.data | safe }};
    {% if hist.marker != None %}
      d3hist("#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}", "{{ hist.label }}",{{hist.marker}});
    {% else %}
      d3hist("#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}", "{{ hist.label }}");
    {% endif %}
    $('#d3div{{ forloop.parentloop.parentloop.counter }}_{{ forloop.counter }}').popover(
      {content:"{{ hist.tooltip }}", trigger:"hover", placement:"top"});
  {% endfor %}
 {% endfor %}
{% endfor %}
</script>
{% endblock %}
