<html lang="en">
<head>
  <title>CCLBA Analytics Tool - {{ title }}</title>
  <link href="/static/landbank_data/css/bootstrap.css" rel="stylesheet">
  <link href="/static/landbank_data/css/d3plots.css" rel="stylesheet">
  <link href="/static/landbank_data/css/aggregate_geom.css" rel="stylesheet">
  <link href="/static/landbank_data/css/map.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript"
    src="/static/landbank_data/js/d3plots.js">
  </script>
  <script type="text/javascript"
    src="/static/landbank_data/js/bootstrap.js">
  </script>

  {% include "aggregate_map_head.html" %}

</script>

</head>

<body>

 <div class="page-header">
   <h3> {{ title }} <small> {{ type }} </small> </h3> 
 </div>
   {% include "aggregate_map_body.html" %}
 <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3> Basic properties </h3>
    </div>
    <div class="col-lg-12">
      {% include "aggregate_properties.html" %}
    </div>
  </div>
 </div>
 <div class="container">
  {% for histType, hists in histData.items %}
    <div class="row">
      <div class="col-lg-12">
        <h3> {{ histType.0 }} <small> {{ histType.1 }} </small> </h3> 
      </div>
    </div>
    {% for hist in hists %}
      <div id="d3div{{ forloop.parentloop.counter }}_{{ forloop.counter }}" 
        class="col-lg-4"></div>
    {% endfor %}
  {% endfor %}
 </div>

<script type="text/javascript">
{% for histType, hists in histData.items %}
  {% for hist in hists %}
    var chart_data = {{ hist.data | safe }};
    {% if hist.marker != None %}
      d3hist("#d3div{{ forloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}", {{hist.marker}});
    {% else %}
      d3hist("#d3div{{ forloop.parentloop.counter }}_{{ forloop.counter }}", chart_data, "{{ hist.title}}");
    {% endif %}
    $('#d3div{{ forloop.parentloop.counter }}_{{ forloop.counter }}').popover(
      {content:"{{ hist.tooltip }}", trigger:"hover", placement:"top"});
  {% endfor %}
{% endfor %}
</script>

</body>
</html>

