<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBroCTXbMjlkQTtTjuICn2sMKtM7IssVp0&sensor=false"></script>
<script type="text/javascript" src="/static/landbank_data/wax/dist/wax.g.js"></script>
<link href="/static/landbank_data/wax/theme/controls.css" rel="stylesheet" type="text/css" />
<script src="/static/landbank_data/js/dajaxice.core.js"></script>
<script src="/static/landbank_data/js/jquery.dajax.core.js"></script>
<script src="/static/landbank_data/js/parcel_data_fields.js"></script>
<script type="text/javascript">
var map
  ,pageContext = 'area'
  ,currentPin
  ,newPin
  ,currentParcelLatLng
  ,currentAreaBounds
  ,currentMarker;

// Callback for map-click listener
function onGotParcelData(parcel) {
  console.log(parcel);
  updateParcelView(parcel);
  if (pageContext=='area') {
    pageContext = 'parcel';
    updateDetailPane();
    updateNav();
  }
  currentParcelLatLng = new google.maps.LatLng(parcel['assessor']['lat_y'],parcel['assessor']['long_x']);
  map.setCenter(currentParcelLatLng);
  if (map.getZoom() <17) { map.setZoom(17); }
  if (currentMarker) { currentMarker.setMap(null); }
    currentMarker = new google.maps.Marker({
      position: currentParcelLatLng
  });
  currentMarker.setMap(map);
}

// Switch the left hand navigation between parcel/area views
// as necessary
function updateDetailPane() {
  if (pageContext == 'parcel') {
    $('#area').hide();
    $('#parcel').show();
  } else {
    $('#parcel').hide();
    $('#area').show();
  }
}

// Change the navbar links depending on current context
function updateNav() {
  if (pageContext == 'parcel') {
    $('#parcel-title').show();
    $('#area-title').removeClass('active');
    $('#parcel-title').addClass('active');
  } else {
    $('#parcel-title').hide();
    $('#parcel-title').removeClass('active');
    $('#area-title').addClass('active');
  }
}

// Load new parcel data into the detail pane
function updateParcelView(parcel) {
  newPin = parcel['parcel_info']['pin']
  if (newPin == currentPin) { console.log('skipping updateParcelView'); return; }
  currentPin = newPin;

  // Update navbar text and parcel detail pane heading
  var pInfo = parcel['parcel_info'];
console.log(pInfo);
  var title = pInfo['address'];
  if (title == null || title == '') {
    title = 'PIN:' + pInfo['pin'];
  }
  //$('#parcel-h3').text(title);
  $('#parcel-title a').text(title);

  // Update table of data in parcel detail pane
  for (var i=0; i<parcelDataFields.length; i++) {
    var thisSection = parcelDataFields[i];
    console.log(thisSection.id);
    console.log(thisSection.fields);
    for (var j=0; j<thisSection.fields.length; j++) {
      // Hide this section until we've seen a defined value for it
      $('table#'+thisSection.id).parent().hide();
      var thisField = thisSection.fields[j];
      var thisFieldVal = pInfo[thisField.id];
      console.log('val ' + thisFieldVal);
      if (thisFieldVal == null || thisFieldVal ==='') {
        // No value? hide this row
        $('td#'+thisField.id+'-td').text('');
        $('tr#'+thisField.id).hide();
      } else {
        $('td#'+thisField.id+'-td').text(thisFieldVal);
        $('tr#'+thisField.id).show();
        // We have at least one thing shown, so show the parent well
        $('table#'+thisSection.id).parent().show();
      }
    }
  }
} 

function refreshArea() {
  pageContext = 'area';
  updateNav();
  updateDetailPane();
  map.setCenter(currentAreaBounds.getCenter());
  map.fitBounds(currentAreaBounds);
  console.log('zoom out to area');
}

function refreshParcel() {
  pageContext = 'parcel';
  updateDetailPane();
  updateNav();
  map.setCenter();
  console.log('zoom to parcel');
}

function initialize() {
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng({{mapcenter.lat}}, {{mapcenter.lon}}),
    mapTypeControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var bounds = new google.maps.LatLngBounds();
  map = new google.maps.Map(document.getElementById("map-aggregate"),
      mapOptions);
  // todo: get ALL polygons for areas and add them to map...
  var polygonCoords = [
    {% with outline.0.0 as the_polygon %}
        {% for point in the_polygon %}
          new google.maps.LatLng({{ point.1 }}, {{ point.0 }}),
        {% endfor %}
      {% endwith %}
    ];
    var the_polygon = new google.maps.Polygon({
      clickable: false,
      paths: polygonCoords,
      strokeColor: "#222",
      strokeOpacity: 0.8,
      strokeWeight: 5,
      fillColor: null,
      fillOpacity: 0
    });

    for (i=0; i<polygonCoords.length; i++) {
      bounds.extend(polygonCoords[i]);
    }

    currentAreaBounds = bounds;
    the_polygon.setMap(map);

  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map); 

  // Composited raster layer of parcel outline and shaded foreclosure
  var base_foreclosure_url = 'http://api.tiles.mapbox.com/v3/salice412.parcel,salice412.parcel_foreclosure.jsonp';
  wax.tilejson(base_foreclosure_url,
    function(tilejson) {
      map.overlayMapTypes.insertAt(0, new wax.g.connector(tilejson));
    });
  map.fitBounds(bounds);

  // Create a listener for map clicks; sends an AJAX call to Django
  // server to request information about a parcel given the clicked
  // latitude/longitude
  // Triggers callback function "onGotParcelData"
  google.maps.event.addDomListener(map, 'click', function(e) {
    Dajaxice.landbank_data.get_property_from_latlng(Dajax.process,
      {'lat':e.latLng.lat()
      ,'lng':e.latLng.lng()
    });
  });

// ************* Inject base HTML table for parcel details *********** //
for (var i=0; i<parcelDataFields.length; i++) {
  var thisSection = parcelDataFields[i];
  console.log(thisSection.id);
  console.log(thisSection.fields);
  var $parcelDiv = $('#parcel');
  var $well = $('<div class="well well-sm">');
  $parcelDiv.append($well);
  var $heading = $('<h3 id="parcel-h3">' + thisSection.heading + '</h3>');
  $well.append($heading);
  var $table = $('<table class="table" id="' + thisSection.id + '">');
  $well.append($table);
  var $tbody = $('<tbody>');
  $table.append($tbody);
  for (var j=0; j<thisSection.fields.length; j++) {
    var thisField = thisSection.fields[j];
    var $row = $('<tr id="' + thisField.id + '">');
    $tbody.append($row);
    var $header = $('<th id="' + thisField.id + '-th">' + thisField.display + '</th>');
    $row.append($header);
    var $value = $('<td id="' + thisField.id + '-td">');
    $row.append($value);
  }
} 
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
