{% extends "landbank_data/base.html" %} 

{% block title %}CCLBA Analytics Tool - {{ title }}{% endblock %}

{% block head %}
<link href="/static/landbank_data/css/bootstrap.css" rel="stylesheet">
<link href="/static/landbank_data/css/d3plots.css" rel="stylesheet">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/landbank_data/js/d3plots.js"></script>
{% include "aggregate_map_head.html" %}
<link href="/static/landbank_data/css/aggregate_geom.css" rel="stylesheet">
{% endblock %}

{% block topnav %}
<ul class="nav navbar-nav">
    <li><a href="/">{{type}}</a></li>
    <li id="area-title" class="active"><a href="#" onClick="refreshArea();">{{title}}</a></li>
    <li id="parcel-title"><a href="#" onClick="refreshParcel();"></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-5 col-sm-6">
  <div id="area">
    {% include "aggregate_properties.html" %}
    {% include "aggregate_charts.html" %}
  </div>
  <div id="parcel">
    {% include "parcel_info.html" %}
  </div>
</div>
<div class="col-lg-8 col-md-7 col-sm-6" id="map-aggregate">
</div>
{% endblock %}
