<!DOCTYPE html>
<head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<style type="text/css" media="screen">
.axis path, .axis line {
   fill: none;
   stroke: black; 
   shape-rendering: crispEdges;
 }
 .axis text {
    font-family: sans-serif;
    font-size: 11px;
    }
div.bar {
   display: inline-block;
   width: 20px;
   height: 75px;
   margin-right: 2px;
   /* We'll override height later */
   background-color: teal;
}



</style>
</head>
<body>
<script type="text/javascript">

var data = {{ data|safe }};

var margin = {top: 20, right: 20, bottom: 40, left: 80},
    width = 460 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var xScale = d3.scale.ordinal()
    .domain(data.map(function(d) { return d.x; }))
    .rangeRoundBands([0, width], .05);

var yScale = d3.scale.linear()
    .domain([0, d3.max(data, function(d) { return d.y; })])
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom")
    .ticks(10);


var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");


var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("g")
    .attr("class", "axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .append("text")
    .attr("y",margin.bottom)
    .attr("x",width/2)
    .style("text-anchor", "middle")
    .text("Land Value psf") ;


svg.append("g")
    .attr("class", "axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0-margin.left)
    .attr("x", 0-(height/2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Count");

var maxData=d3.max(data);
//print "maxData =" + maxData;

svg.selectAll(".bar")
    .data(data)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return xScale(d.x)} )
    .attr("width", xScale.rangeBand())
    .attr("y", function(d) { return yScale(d.y)} )
    .attr("height", function(d) { return height - yScale(d.y); })
    .attr("fill", function(d) {
	return "rgb(0, 0, "+ Math.round((255*d.y)/
					d3.max(
	$.map(data,function(d){ return d.y; })))  + ")";
    });

svg.selectAll(".bar text")
    .data(data)
    .enter()
    .append("text")
    .text(function(d) { return d.y; })
    .attr("text-anchor", "middle" )
    .attr("x", function(d) {
	return (xScale(d.x) + xScale.rangeBand()/2);
    })
    .attr("y", function(d) {
	console.log(yScale(d.y));
	return ( margin.top + yScale(d.y) + 8);
    })
    .attr("font-family","sans-serif")
    .attr("font-size","8px")
    .attr("fill", "white");
//	return (+height + margin.top - yScale(d.y) + 14);
    </script>
    <h3 style="text-align:center;width:460px" >Median prices by community area</h3>

</body>


<!-- TODO: implement map, charts, community area context, etc... -->
