<!DOCTYPE html>
<head>
<script type="text/javascript">

var data = {{ data|safe }};

var margin = {top: 20, right: 20, bottom: 40, left: 50},
    width = 460 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  x.domain(data.map(function(d) { return d.x; }));
  y.domain([0, d3.max(data, function(d) { return d.y; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("y",margin.bottom)
      .attr("x",width/2)
      .style("text-anchor", "middle")
      .text("Value") ;


  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0-margin.left)
      .attr("x", 0-(height/2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Count");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.x)} )
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y)} )
      .attr("fill", "steelblue")
      .attr("height", function(d) { return height - y(d.y); });

    </script>
</head>
<body>
    <h1>Median prices by community area</h1>
    <script src="http://d3js.org/d3.v3.min.js"></script>


</body>


<!-- TODO: implement map, charts, community area context, etc... -->
